body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*-- HEADING STYLES --*/

.header {
    padding: .1rem;
    width: 100%;
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(158, 158, 158, .5), 
                    rgba(158, 158, 158, .5)),
                      url(../img/mountains.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #eee;
}

.header h1 {
    font-size: 4rem;
    margin: 1rem auto 2rem;
    font-weight: 300;
}

.header h3 {
    font-size: 1.7rem;
    margin: 5rem auto 0;
    font-weight: 300;
}

.plus {
    background-color: #25c17a;
    display: inline-block;
    height: 4rem;
    width: 30rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusLeft {
    margin-left: 2rem;
    color: black;
    font-size: 1.3rem;
}

.plusRight {
    margin-right: 2rem;
    font-size: 1.7rem;
}

.minus {
    background-color: #f23a42;
    display: inline-block;
    height: 4rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minusLeft {
    margin-left: 2rem;
    color: black;
    font-size: 1.3rem;
}

.minusRight {
    margin-right: 2rem;
    font-size: 1.7rem;
}

/*-- NAV STYLES --*/

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebedf0;
    height: 6rem;
    border: lightgray solid .1rem;
}

#plusMinus {
    background-color: white;
    border: .1rem solid lightgray;
    width: 4rem;
    height: 3.3rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}

#valueInput {
    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
    border: lightgray .1rem solid;
    padding-left: .8rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
}

#descriptionInput {
    width: 30rem;
    height: 3rem;
    border-radius: .5rem;
    border: lightgray .1rem solid;
    padding-left: .8rem;
    margin: 0 1.1rem;
    font-size: 1.2rem;
}

.checkButton {
    height: 2.5rem;
}

.checkButton:hover {
    cursor: pointer;
}

/*-- LIST STYLES --*/

.list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
}

.income, .expenses {
    width: 35rem;
    margin: 0 2rem;
}

#incomeHeading {
    color: #25c17a;
    font-size: 1.5rem;
    border-bottom: lightgray solid .1rem;
    padding-bottom: 1.2rem;
    font-weight: 700;
    margin-bottom: 0rem;
}

#expensesHeading {
    color: #f23a42;
    font-size: 1.5rem;
    border-bottom: lightgray solid .1rem;
    padding-bottom: 1.2rem;
    font-weight: 700;
    margin-bottom: 0rem;
}

.expensesList, .incomeList {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.listItem {
    border-bottom: .1rem solid lightgray;
    font-size: 1.4rem;
    font-weight: 500;
    color: #444;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .7rem;
}

.listItem:nth-child(even) {
    background-color: #ebedf0;
}

.spanAdd {
    color: #25c17a;
}

.spanMinus {
    color: #f23a42;
}